body {
    margin: 0px;
    font-family:Roboto;
    font-weight: lighter;
}

#wrapper {
    display: grid;
    min-height: 100vh;
    width: 100vw;
    grid-template-areas:
    'hd hd hd'
    'nv nv nv'
    's1 s1 as'
    's2 s2 as'
    's3 s3 as'
    's3 s3 as2'
    ;
    grid-template-rows: 10rem 3rem 13vh 35vh 15vh;
}

header {
    display: grid;
    grid-area: hd;
    width: 100%;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 6rem;
    font-family: 'Montserrat';
    font-weight: bold;
}

nav {
    display: grid;
    grid-area: nv;
    width: 100vw;
    background-color: rgb(32, 32, 32);
    display: flex;
    font-family: 'Montserrat';
    font-size: 1rem;
    font-weight: bold;
    justify-content: space-evenly;
    align-items: center;
    border-top: solid rgb(43, 43, 43);
    border-bottom: solid rgb(43, 43, 43);

}

#sträck1 {
    border-left: solid rgb(43, 43, 43);
    height: 3rem;
    width: 1px;
}

#sträck2 {
    border-left: solid rgb(43, 43, 43);
    height: 3rem;
    width: 1px;
}
#sträck3 {
    border-left: solid rgb(43, 43, 43);
    height: 3rem;
    width: 1px;
}

#s1 {
    display: grid;
    grid-area: s1;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 2rem;
    margin-left: 4vw;
    margin-top: 1rem;
    width: 50vw;
}

#s2 {
    display: grid;
    grid-area: s2;
    font-size: 1.5rem;
    margin-left: 4vw;
    width: 40vw;
}

aside {
    display: grid;
    grid-area: as;
    width: 23rem;
    height: 23rem;
    margin-top: 3rem;
    background-image: url("../img/Emil-om.jpg");
    background-size: cover;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.584);
}

#s3 {
    display: grid;
    grid-area: s3;
    font-size: 1.5rem;
    margin-left: 4vw;
    width: 40vw;
}

#as2 {
    display: grid;
    grid-area: as2;
    width: 23rem;
    height: 23rem;
    margin-top: 3rem;
    background-image: url("../img/Emil-om2jpg.jpg");
    background-size: cover;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.584);
}

a:link {
    text-decoration: none;
}

header a {
    color: white;
}

nav a {
    color: rgb(255, 255, 255);
}

header a {
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.47);
    transition: text-shadow 0.1s ease;
}

header a:hover {
    text-shadow: 0px 0px 20px rgb(0, 204, 41);
}

nav a {
    transition: text-shadow 0.1s ease;
}

nav a:hover {
    text-shadow: 0px 0px 10px rgb(255, 255, 255);
}

#hem {
    transition: text-shadow 0.1s ease;
}

#hem:hover {
    text-shadow: 0px 0px 20px rgb(0, 204, 41);
}