body {
    margin: 0px;
    font-family:Roboto;
    font-weight: lighter;
}

#wrapper-index {
    min-height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-areas:
    'hd hd hd'
    'nv nv nv'
    'ti ti ti'
    'li li li'
    's1 s2 s3'
    'ft ft ft'
    ;
    grid-template-rows:  10rem 3rem 10rem 1px 25rem 19rem;
}

header {
    display: grid;
    grid-area: hd;
    width: 100%;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 6rem;
    font-family: 'Montserrat';
    font-weight: bold;
}

nav {
    display: grid;
    grid-area: nv;
    width: 100vw;
    background-color: rgb(32, 32, 32);
    display: flex;
    font-family: 'Montserrat';
    font-size: 1rem;
    font-weight: bold;
    justify-content: space-evenly;
    align-items: center;
    border-top: solid rgb(43, 43, 43);
}

#sträck1 {
    border-left: solid rgb(43, 43, 43);
    height: 3rem;
    width: 1px;
}

#sträck2 {
    border-left: solid rgb(43, 43, 43);
    height: 3rem;
    width: 1px;
}
#sträck3 {
    border-left: solid rgb(43, 43, 43);
    height: 3rem;
    width: 1px;
}

#titel {
    grid-area: ti;
    background-image: url("../img/bakgrund.jpg");
    width: 100vw;
    background-size: cover;
    background-position-y: -10rem;
    background-position: center;
    border-top: solid rgb(43, 43, 43);
}

#titel p {
    display: flex;
    justify-content: center;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 2rem;
    color: white;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.509);
}

#undertitel p {
    display: flex;
    justify-content: center;
    font-family: 'Montserrat';
    font-weight: lighter;
    font-size: 1rem;
    color: white;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.771);
}

#line_be-section {
    grid-area: li;
    border-top: 2px solid rgb(217, 217, 217);
}

section {
    margin: 2rem;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    padding-left: 1.2rem;
    /*border: solid red;*/
}

#s1 {
    display: grid;
    grid-area: s1;
    text-align: center;
    width: 25vw;
}

#s1-img {
    height: 19rem;
    width: 19rem;
    background-image: url("../img/produkter/pump.jpg");
    background-size: cover;
}

#s2 {
    display: grid;
    grid-area: s2;
    text-align: center;
    width: 25vw;

}

#s2-img {
    height: 19rem;
    width: 19rem;
    background-image: url("../img/produkter/kreatin.jpg");
    background-size: cover;
}

#s3 {
    display: grid;
    grid-area: s3;
    text-align: center;
    width: 25vw;
}

#s3-img {
    height: 19rem;
    width: 19rem;
    background-image: url("../img/produkter/pwo.jpg");
    background-size: cover;
}

footer {
    display: grid;
    grid-area: ft;
    background-color: black;
    color: white;
    display: grid;
    grid-template-areas:
    'el el el'
    'pj pj pj'
    'jb jb jb'
    'nt nt nt'
    'nl nl nl'
    ;
    grid-template-rows: 5rem 3rem 2rem 2rem;
}

#emil-logo {
    grid-area: el;
    margin: 1rem;
    width: 12rem;
    height: auto;
}

#ft_pjvt23 {
    grid-area: pj;
    margin: 1rem;
}

#ft_jb {
    grid-area: jb;
    margin: 1rem;
}

#ft_nti {
    grid-area: nt;
    margin: 1rem;
}

#nti-logo {
    grid-area: nl;
    width: 4rem;
    margin: 1rem;margin-top: 2rem;
}

a:link {
    text-decoration: none;
}

header a {
    color: white;
}

nav a {
    color: rgb(255, 255, 255);
}

#s1 img:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.263);
}

#s2 img:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.263);
}

#s3 img:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.263);
}

header a {
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.47);
    transition: text-shadow 0.1s ease;
}

header a:hover {
    text-shadow: 0px 0px 20px rgb(0, 204, 41);
}

nav a {
    transition: text-shadow 0.1s ease;
}

nav a:hover {
    text-shadow: 0px 0px 10px rgb(255, 255, 255);
}

#hem {
    transition: text-shadow 0.1s ease;
}

#hem:hover {
    text-shadow: 0px 0px 20px rgb(0, 204, 41);
}