body {
    margin: 0px;
    font-family:Roboto;
    font-weight: lighter;
}

#wrapper-index {
    min-height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-areas:
    'hd hd hd'
    'nv nv nv'
    'ti ti ti'
    'li li li'
    's1 s2 s3'
    'ft ft ft'
    ;
    grid-template-rows: 150px 3.5rem 13rem 1px auto 20rem;
}

header {
    display: grid;
    grid-area: hd;
    width: 100vw;
    height: 150px;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    font-family: 'Montserrat';
    font-weight: bold;
}

nav {
    display: grid;
    grid-area: nv;
    width: 100vw;
    height: 3.5rem;
    background-color: rgb(32, 32, 32);
    display: flex;
    font-family: 'Montserrat';
    font-weight: bold;
    justify-content: space-evenly;
    align-items: center;
    border-top: solid rgb(43, 43, 43);
    border-bottom: solid rgb(43, 43, 43);
}

#sträck1 {
    border-left: solid rgb(43, 43, 43);
    height: 3.5rem;
    width: 1px;
}

#sträck2 {
    border-left: solid rgb(43, 43, 43);
    height: 3.5rem;
    width: 1px;
}
#sträck3 {
    border-left: solid rgb(43, 43, 43);
    height: 3.5rem;
    width: 1px;
}

#titel {
    grid-area: ti;
    background-image: url("../img/bakgrund.jpg");
    width: 100vw;
    background-size: cover;
    background-position-y: -10rem;
    background-position: center;
    border-top: solid rgb(43, 43, 43);
}

#titel p {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 1rem;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 3rem;
    color: white;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.771);
}

#line_be-section {
    grid-area: li;
    border-top: 2px solid rgb(217, 217, 217);
}

section {
    margin: 2rem;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    border: solid red;
}

#s1 {
    display: grid;
    grid-area: s1;
    text-align: center;
    width: 25vw;
}

#s1 img {
    height: 40vh;
    width: auto;
}

#s2 {
    display: grid;
    grid-area: s2;
    text-align: center;
    width: 25vw;

}

#s2 img {
    height: 40vh;
    width: auto;
}

#s3 {
    display: grid;
    grid-area: s3;
    text-align: center;
    width: 25vw;
}

#s3 img {
    height: 40vh;
    width: auto;
}

footer {
    display: grid;
    grid-area: ft;
    background-color: black;
    color: white;
}

a:link {
    text-decoration: none;
}

header a {
    color: white;
}

nav a {
    color: rgb(255, 255, 255);
}

#s1 img:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.263);
}

#s2 img:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.263);
}

#s3 img:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.263);
}

header a {
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.47);
    transition: text-shadow 0.1s ease;
}

header a:hover {
    text-shadow: 0px 0px 20px rgb(0, 204, 41);
}

nav a {
    transition: text-shadow 0.1s ease;
}

nav a:hover {
    text-shadow: 0px 0px 10px rgb(255, 255, 255);
}

#hem {
    transition: text-shadow 0.1s ease;
}

#hem:hover {
    text-shadow: 0px 0px 20px rgb(0, 204, 41);
}