body {
    margin: 0px;
    font-family:Roboto;
    font-weight: lighter;
}

#wrapper-schema {
    display: grid;
    min-height: 100vh;
    width: 100vw;
    grid-template-areas:
    'hd hd hd'
    'nv nv nv'
    's1 s1 as'
    's2 s2 as'
    'l1 l1 l1'
    's3 s3 s3'
    ;
    grid-template-rows: 150px 3.5rem 10rem 14rem 2rem 45rem;
}

header {
    display: grid;
    grid-area: hd;
    width: 100vw;
    height: 150px;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    font-family: 'Montserrat';
    font-weight: bold;
}

nav {
    display: grid;
    grid-area: nv;
    width: 100vw;
    height: 3.5rem;
    background-color: rgb(32, 32, 32);
    display: flex;
    font-family: 'Montserrat';
    font-weight: bold;
    justify-content: space-evenly;
    align-items: center;
    border-top: solid rgb(43, 43, 43);
    border-bottom: solid rgb(43, 43, 43);
}

#sträck1 {
    border-left: solid rgb(43, 43, 43);
    height: 3.5rem;
    width: 1px;
}

#sträck2 {
    border-left: solid rgb(43, 43, 43);
    height: 3.5rem;
    width: 1px;
}
#sträck3 {
    border-left: solid rgb(43, 43, 43);
    height: 3.5rem;
    width: 1px;
}

#s1 {
    display: grid;
    grid-area: s1;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 3rem;
    margin-left: 1rem;
    margin-top: 1rem;
    width: 60vw;
}

#s2 {
    display: grid;
    grid-area: s2;
    font-size: 1.5rem;
    margin-left: 1rem;
    width: 60vw;
}

aside {
    display: grid;
    grid-area: as;
    width: 28vw;
    height: 28vw;
    margin-top: 3rem;
    background-image: url("../img/Emil-face.jpg");
    background-size: cover;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.584);
}

#line {
    margin-top: 2.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    grid-area: l1;
    height: 0px;
    width: 97%;
    border: 2px solid rgb(232, 232, 232);
}

#s3 {
    display: grid;
    grid-area: s3;
    margin: 6rem;
    background-color: rgb(32, 32, 32);
    grid-template-areas: 
    'img img pt pt'
    'img img kr kr'
    'img img sb sb'
    'img img af af'
    ;
    grid-template-rows: 3rem 3rem 15rem 3rem;
    box-shadow: 0px 0px 40px black;
}

#s3 #produkt-schema-img {
    display: grid;
    grid-area: img;
    background-image: url("../img/schema-produkt.jpg");
    background-size: cover;
    margin: 2rem;
    height: 29rem;
    width: 29rem;
    justify-content: left;
    align-items: center;
    box-shadow: 0px 0px 20px black;
}

#s3-titel {
    display: grid;
    grid-area: pt;
    margin: 2rem 2rem 2rem 0rem;
    color: white;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 1.8rem;
}

#s3-pris {
    display: grid;
    grid-area: kr;
    margin: 2rem 2rem 2rem 0rem;
    color: rgb(224, 224, 224);
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 1.8rem;
}

#s3-beskrivning {
    display: grid;
    grid-area: sb;
    font-size: 1.2rem;
    color: white;
    margin-top: 4rem;
    padding-right: 2rem;
}

#s3-affär {
    display: grid;
    grid-area: af;
    font-size: 1.2rem;
    color: white;
    margin-top: 4rem;
    padding-right: 2rem;
}

a:link {
    text-decoration: none;
}

header a {
    color: white;
}

nav a {
    color: rgb(255, 255, 255);
}

header a {
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.47);
    transition: text-shadow 0.1s ease;
}

header a:hover {
    text-shadow: 0px 0px 20px rgb(0, 204, 41);
}

nav a {
    transition: text-shadow 0.1s ease;
}

nav a:hover {
    text-shadow: 0px 0px 10px rgb(255, 255, 255);
}

#hem {
    transition: text-shadow 0.1s ease;
}

#hem:hover {
    text-shadow: 0px 0px 20px rgb(0, 204, 41);
}